<!DOCTYPE html>
<html>
    <head>
        {% set Title = "Trang chủ" %}
        {% include "../base/_head.twig" %}
    </head>

    <body>
        {% block header %}
            {% include "../components/_header.twig" %}
        {% endblock %}
        {% block banner %}
            {% include "../components/_banner.twig" %}
        {% endblock %}
        {% block content %}
            {% include "../components/_content.twig" %}
        {% endblock %}

        {{ block('content')}}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}
        {{ block('content')}}

        {% block footer %}
            {% include "../components/_footer.twig" %}
        {% endblock %}

        {% block script %}
            {% include "../base/_script.twig" %}
        {% endblock %}

    </body>

</html>